<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cinema</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>servlet.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmoviServlet</display-name>
    <servlet-name>FilmoviServlet</servlet-name>
    <servlet-class>servlet.FilmoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmoviServlet</servlet-name>
    <url-pattern>/FilmoviServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijaServlet</display-name>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <servlet-class>servlet.ProjekcijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <url-pattern>/ProjekcijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisnikServlet</display-name>
    <servlet-name>KorisnikServlet</servlet-name>
    <servlet-class>servlet.KorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikServlet</servlet-name>
    <url-pattern>/KorisnikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlet.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiFilmServlet</display-name>
    <servlet-name>ObrisiFilmServlet</servlet-name>
    <servlet-class>servlet.ObrisiFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiFilmServlet</servlet-name>
    <url-pattern>/ObrisiFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajFilm</display-name>
    <servlet-name>DodajFilm</servlet-name>
    <servlet-class>servlet.DodajFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajFilm</servlet-name>
    <url-pattern>/DodajFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajFilmServlet</display-name>
    <servlet-name>DodajFilmServlet</servlet-name>
    <servlet-class>servlet.DodajFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajFilmServlet</servlet-name>
    <url-pattern>/DodajFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajProjekcijuServlet</display-name>
    <servlet-name>DodajProjekcijuServlet</servlet-name>
    <servlet-class>servlet.DodajProjekcijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProjekcijuServlet</servlet-name>
    <url-pattern>/DodajProjekcijuServlet</url-pattern>
  </servlet-mapping>
</web-app>