<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cinema</display-name>
  <welcome-file-list>
    <welcome-file>projekcije.html</welcome-file>
    <welcome-file>projekcije.html</welcome-file>
    <welcome-file>projekcije.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>servlet.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmoviServlet</display-name>
    <servlet-name>FilmoviServlet</servlet-name>
    <servlet-class>servlet.FilmoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmoviServlet</servlet-name>
    <url-pattern>/FilmoviServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijaServlet</display-name>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <servlet-class>servlet.ProjekcijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijaServlet</servlet-name>
    <url-pattern>/ProjekcijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisnikServlet</display-name>
    <servlet-name>KorisnikServlet</servlet-name>
    <servlet-class>servlet.KorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikServlet</servlet-name>
    <url-pattern>/KorisnikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlet.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiFilmServlet</display-name>
    <servlet-name>ObrisiFilmServlet</servlet-name>
    <servlet-class>servlet.ObrisiFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiFilmServlet</servlet-name>
    <url-pattern>/ObrisiFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajFilm</display-name>
    <servlet-name>DodajFilm</servlet-name>
    <servlet-class>servlet.DodajFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajFilm</servlet-name>
    <url-pattern>/DodajFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajFilmServlet</display-name>
    <servlet-name>DodajFilmServlet</servlet-name>
    <servlet-class>servlet.DodajFilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajFilmServlet</servlet-name>
    <url-pattern>/DodajFilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajProjekcijuServlet</display-name>
    <servlet-name>DodajProjekcijuServlet</servlet-name>
    <servlet-class>servlet.DodajProjekcijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajProjekcijuServlet</servlet-name>
    <url-pattern>/DodajProjekcijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiProjekcijuServlet</display-name>
    <servlet-name>ObrisiProjekcijuServlet</servlet-name>
    <servlet-class>servlet.ObrisiProjekcijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiProjekcijuServlet</servlet-name>
    <url-pattern>/ObrisiProjekcijuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisniciServlet</display-name>
    <servlet-name>KorisniciServlet</servlet-name>
    <servlet-class>servlet.KorisniciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisniciServlet</servlet-name>
    <url-pattern>/KorisniciServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipProjekcijeServlet</display-name>
    <servlet-name>TipProjekcijeServlet</servlet-name>
    <servlet-class>servlet.TipProjekcijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipProjekcijeServlet</servlet-name>
    <url-pattern>/TipProjekcijeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjekcijeZaFilm</display-name>
    <servlet-name>ProjekcijeZaFilm</servlet-name>
    <servlet-class>servlet.ProjekcijeZaFilm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjekcijeZaFilm</servlet-name>
    <url-pattern>/ProjekcijeZaFilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SlobodnaSedistaServlet</display-name>
    <servlet-name>SlobodnaSedistaServlet</servlet-name>
    <servlet-class>servlet.SlobodnaSedistaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlobodnaSedistaServlet</servlet-name>
    <url-pattern>/SlobodnaSedistaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupiKartuServlet</display-name>
    <servlet-name>KupiKartuServlet</servlet-name>
    <servlet-class>servlet.KupiKartuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupiKartuServlet</servlet-name>
    <url-pattern>/KupiKartuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiKorisnikaServlet</display-name>
    <servlet-name>ObrisiKorisnikaServlet</servlet-name>
    <servlet-class>servlet.ObrisiKorisnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiKorisnikaServlet</servlet-name>
    <url-pattern>/ObrisiKorisnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>status.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/FailureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SuccessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthServlet</display-name>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/AuthServlet</url-pattern>
  </servlet-mapping>
</web-app>